.Character {
    display: flex;
    flex-direction: column;

    max-width: 100px;
    max-height: 150px;
    border-radius: 15px;

    height: 100%;

    overflow: hidden;
}

.Character_Icon {
    width: 100%;
    height: 100%;

    max-width: 100px;
    max-height: 100px;
}

.Character_Label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);

    max-width: 100px;
    height: 50px;

    p {
        font-size: 18px;
        text-align: center;
        height: 100%;
    }
}
