.HomeButton {
    display: flex;
    flex-direction: column;
    padding: 20px;

    width: 196px;
    height: 196px;

    background-color: var(--primary-color);

    align-items: center;
    justify-content: center;
    gap: 20px;

    border-radius: 10px;
    user-select: none;

    &:hover {
        cursor: pointer;
        transition: 0.1s ease-in-out all;
        box-shadow: 0 0 10px 5px var(--primary-color);
        scale: 1.01;
    }
}

.HomeButton:hover {
    cursor: pointer;
    transition: 0.1s ease-in-out all;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px 5px var(--primary-color);
        scale: 1.01;
    }
}

.HomeButton_Icon {
    max-width: 128px;
    max-height: 128px;
}

.HomeButton_Label {
    font-size: 30px;
    text-align: center;
}
