.ScenesPage {
    display: flex;
    height: 100%;
    width: 100%;

    background-color: var(--background-color);
    flex-direction: column;

    padding: 24px;
}

.ScenesPage_Title {
    max-width: 180px;
    max-height: 60px;

    font-size: 48px;
    font-weight: bold;
    text-align: center;

    margin-bottom: 30px;
}

.ScenesPage_List {
    display: flex;
    flex-direction: column;

    gap: 15px;
    margin-bottom: 28px;
    overflow-y: scroll;
}

.ScenesPage_Button {
    width: 94px;
    height: 34px;

    margin: 0;
    border-radius: 10px;
    border: transparent;

    font-size: 20px;

    color: var(--text-primary-color);
    background-color: var(--background-color);

    user-select: none;

    transition: 0.1s ease-in-out all;
}

.ScenesPage_Button:hover {
    cursor: pointer;
}

.ScenesPage_Button:active {
    scale: 0.9;
}
