p {
    color: var(--text-primary-color);
    margin: 0;
}

h1 {
    color: var(--text-primary-color);
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    margin: 0;
}

h2 {
    color: var(--text-primary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

h3 {
    color: var(--text-primary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}
